$gray : #d3d3d3;
$blue : #cce6ff;

.calories {
  font-size: 65px;
}

.list-div {
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

#log {
  background-color: $gray;
  p {
    font-size: 14px;
  }
}

#new-form {
  margin-top: 20px;
  h3 {
    margin-top: 0;
  }
}

#edit-form {
  background-color: $blue;
}

#create-btn {
  float: right;
}
